{% extends 'base.html.twig' %}

{% block title %}Rproduit index{% endblock %}

{% block body %}
    <h1>Rproduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rproduit in rproduits %}
            <tr>
                <td>{{ rproduit.id }}</td>
                <td>{{ rproduit.titre }}</td>
                <td>{{ rproduit.description }}</td>
                <td>{{ rproduit.prix }}</td>
                <td>
                    <a href="{{ path('app_rproduit_show', {'id': rproduit.id}) }}">show</a>
                    <a href="{{ path('app_rproduit_edit', {'id': rproduit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rproduit_new') }}">Create new</a>
{% endblock %}
